html {
  font-size: 10px;
  --dark-blue: #1e2042;
  --light-grey: #f9f8fb;
}

body {
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
}

/********** General *********************/

h1 {
  font-size: 6rem;
  font-family: Lato, serif;
  color: #1e2042;
}

#subheader {
  font-weight: 300;
  color: #d5a33c;
  text-transform: uppercase;
}

@media (max-width: 400px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: 3rem;
  color: var(--dark-blue, #1e2042);
  text-align: center;
  padding-bottom: 1.2rem;
}

blockquote {
  font-size: 2.5rem;
  font-style: italic;
  font-family: Lato, serif;
  text-align: center;
}

ul {
  list-style: none;
  padding-left: 0;
  line-height: 2;
}

a {
  text-decoration: none;
  color: var(--dark-blue, #1e2042);
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #336c78;
}

#tribute-link {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--light-gery, #f9f8fb);
  text-transform: uppercase;
}

#tribute-link:visited {
  color: var(--light-gery, #f9f8fb);
}

#tribute-link:hover {
  text-decoration: none;
  color: #cedbe0;
}

#tribute-link-dash {
  text-decoration: none;
  border-bottom: 0.4rem solid var(--light-gery, #f9f8fb);
  padding-bottom: 0.5rem;
}

#tribute-link:hover #tribute-link-dash {
  border-bottom: 0.4rem solid #cedbe0;
}

/********** Images ********************/

img {
  max-width: 100%;
  height: auto;
  display: block;
  box-shadow: 0 1rem 1rem -0.7rem rgba(13, 20, 64, 0.2);
}

/********* Gallery ************************/

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 3rem;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 400px) {
  .gallery-grid {
    grid-template-columns: 1fr;
  }
}

.img-container {
  position: relative;
}

.caption {
  opacity: 0;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

figure:hover .caption {
  opacity: 1;
}

/********** First row columns **************/

.column-header {
  float: left;
  width: 60%;
  padding: 2.5%;
}

.column-image {
  float: left;
  padding: 2.5%;
  width: 30%;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 1000px) {
  .column-header,
  .column-image {
    width: 100%;
  }
  #image-div img {
    margin: auto;
  }
}

/******** Rows ***********************/

.first-row {
  padding: 10vh 5rem 20vh 5rem;
  top: 0;
  min-height: 90vh;
}

.second-row {
  background-color: var(--light-grey, #f9f8fb);
  color: var(--dark-blue, #1e2042);
  padding: 4rem;
  position: relative;
}

.second-row:before {
  content: " ";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: var(--light-grey, #f9f8fb);
  transform-origin: top right;
  transform: skewY(4deg);
}

.third-row {
  background-color: var(--dark-blue, #1e2042);
  color: var(--light-grey, #f9f8fb);
  padding: 4rem;
  text-align: center;
}

.fourth-row {
  padding: 4rem;
  color: var(--dark-blue, #1e2042);
}

.fifth-row {
  background: repeating-linear-gradient(
    -45deg,
    #f0eff1,
    #f9f8fb 3px,
    #f0eff1 3px,
    #f9f8fb 8px
  );
  color: var(--dark-blue, #1e2042);
  padding: 4rem;
  text-align: center;
}

.footer {
  background-color: var(--dark-blue, #1e2042);
  color: var(--light-grey, #f9f8fb);
  padding: 0.1rem;
  text-align: center;
}

#second-row-container {
  width: 85%;
  margin: 0 auto;
}
